*{
    
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Mooli', sans-serif;
}
    
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: black;
    
}

.logo a{
    max-width: 5rem;
    color: white;
    text-decoration: none;
}

.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.abrir-menu,
.cerrar-menu{
    display: none;

}    


.origen{
    padding: 0 50px;
    background-image:url(../assets/images/fondo.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: white;
}


.contenido{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.75rem;
    position: relative;
}
.contenido h1{
    padding: 2.5rem;
}
.main-contacto{
    background-image:url(../assets/images/fondo.jpg);

    height: 100vh;
    background-size: cover;
    background-position: center;
}


.div-form{
    width: 25rem;
    height: 40rem;
    background-color: beige;
    padding: 1.875rem;
    margin: auto;
    margin-top: 7.5rem;
    border-radius: .625rem;
    position:relative;
}
.div-form form h1{
    padding-bottom: 20px;
    text-align: center;
}
.div-form form  input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid black;
}
.boton{
    background-color: black;
    color: white;
    font-size: 30px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}
.div-form form textarea{
    height: 80px;
}
.div-nuestro{
    width: 100%;
}
.div-nuestro h1{
    color: black;
    text-align: center;
    margin: 20px 0px;
}


.section-porta{
    margin: 0px 20px;
    width: 100%;
    height: 800px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
}

.estilo1{
    grid-column: 1/2;
    grid-row: 1/3;
}
.estilo2{
    grid-column: 2/3;
    grid-row: 1/3;
}
.estilo3{
    grid-column: 3/4;
    grid-row: 1/3;
}
.estilo4{
    grid-column: 1/2;
    grid-row: 3/5;
}
.estilo5{
    grid-column: 2/3;
    grid-row: 3/5;
}
.estilo6{
    grid-column: 3/4;
    grid-row: 3/5;
}

.estilo1 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo1 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo1 h1{
    text-align: center;
}

.estilo2 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo2 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo2 h1{
    text-align: center;
}

.estilo3 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo3 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo3 h1{
    text-align: center;
}

.estilo4 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo4 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo4 h1{
    text-align: center;
}

.estilo5 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo5 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo5 h1{
    text-align: center;
}

.estilo6 img{
    height: 18.75rem;
    margin: 20px;
}
.estilo6 img:hover{
    box-shadow: 10px 10px .625rem grey;
}
.estilo6 h1{
    text-align: center;
}
.section-quienes{
    display: flex;
    justify-content: space-between;
    height: 863px;
}
.section-quienes div{
    width: 25rem;
    height: 100%;
}
.section-quienes div p{
    margin: 50px;
    text-align: center;
    align-items: center;
}
.servicios  ul li{
    list-style: none;
    text-decoration: none;
    margin: 0px 10px;
}
.section-quienes div h1{
    margin: 50px;
    text-align: center;
}
.nosotros{
    background-color: #FFC6AC;
    height: 800px;
    width: 100px;
    
}
.empresa{
    background-color: #FFF6DC;
    height: 50rem;
}
.servicios{
    background-color: #C4C1A4;
    height: 50rem;
}
.experiencia{
    background-color: #9E9FA5;
}
.contactanos{
    background-color: #ffacba;
    height: 222px;
}
.contactanos p a{
    text-decoration: none;
    
}
.main-dispo{
    background-image: url(../assets/images/fondo2.jpg);
    padding: 0 50px;
    height: 100vh;
    background-size: cover;
    background-position: center;
}
.section-dispo{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
.section-dispo h1{
    grid-column: 1/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
    color: white;
    
}
.section-dispo img{
    grid-column: 1/3;
    grid-row: 2/9;
    justify-self: center;
}

.section-dispo iframe{
    grid-column: 5/6;
    grid-row: 5/10;
}
.oficinas{
    grid-column: 5/6;
    grid-row: 4/5;
    color: white;

}

@media screen and ( max-width: 800px){
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color:white;
    }
    .cerrar-menu{
        color: white;
    }
    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: fixed;
        top: 0;
        right: 0;
        
        background-color: #1c1c1c;
        padding: 2rem;
        

    }

    .nav.visible{
        opacity: 1;
        visibility: visible;
        
    }

    .nav-list {
        flex-direction: column;
        align-items: end;
        z-index: 2;

    }

    .contenido {
        justify-content:space-between;
        width: 300px;
        

    }

}

@media screen and ( max-width: 530px){
    body{
        width: 100%;
    }

    .contenido{
        
        width: 100%;
        padding: 30px;

    }
    .contenido h1{
        width: 100%;
        font-size: 60px;
        padding: 10px;
        
    }
}
@media screen and ( max-width: 400px){
    body{
        width: 100%;
    }

    .contenido{
        
        width: 100%;
        padding-right: 100px;
        justify-content: space-around;

        
    }
    .contenido h1{
        width: 100%;
        font-size: 50px;
        padding-right: 110px;
        
        
    }
}

@media screen and ( max-width: 520px){
    .div-form form{
        width: 300px;
    }
    .div-form{
        width: 350px;
        padding: 30px;
        height: 500px;
    }
    .boton{
        width: 70px;
        font-size: 20px;
    }

}

@media screen and ( max-width: 380px){
    .div-form form{
        width: 200px;
    }
    .div-form{
        width: 250px;
        padding: 30px;
        height: 500px;
    }
    .div-form form h1{
        font-size: 20px;

    }
    .boton{
        width: 70px;
        font-size: 10px;
    }
}