@media screen and ( max-width: 380px){
    .main-contacto{
        section{
            width: 250px;
            .div-form{
                width: 250px;
                padding: 30px;
                height: 500px;
                form{
                    padding-left: 20px;
                    width: 200px;
                    h1{
                        font-size: 20px;
                    }
                    .boton{
                        margin-right: 10px;
                        width: 170px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}