@media screen and ( max-width: 420px){
    .main-contacto{
        section{
            height: 250px;
            width: 210px;
            padding-right: 80px;
            .div-form{
                
                width: 210px;
                height: 400px;
                form{
                    
                    width: 200px;
                    height: 300px;
                    padding-right: 30px;
                    align-items: center;
                    
                    textarea{
                        height: 100px;
                        width: 180px;
                    }
                    h1{
                        font-size: 20px;
                        text-align: center;
                    }
                    .boton{
                        width: 180px;
                        margin:  10px 20px;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}
