.main-dispo{
    background-image: url(../assets/images/fondo2.jpg);
    padding: 0 50px;
    height: 100vh;
    background-size: cover;
    background-position: center;
    section{
        display: flex;
        height: 100%;
        flex-wrap: wrap;
        .titulo{
            justify-self: flex-start;
            align-self: flex-start;
            color: white;

        }
        .mapa{
            justify-self: flex-start;
            align-self: flex-end;
        }


        
        
        
    }
}