.main-porta{
    div{
        width: 100%;
        h1{
            color: black;
            text-align: center;
            margin: 20px 0px;
        }
    }
    section{
        margin: 0px 20px;
        width: 100%;
        height: 800px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .estilo1{
            justify-self: flex-start;
            width: 500px;
            
            img{
                margin: 0px 100px;
                width: 300px;
                height: 18.75rem;
                
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
                
            }
        }
        .estilo2{
            justify-self: center;
            width: 500px;
            img{
                height: 18.75rem;
                width: 300px;
                margin: 0px 100px;
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
        }
    }
        .estilo3{
            justify-self: flex-end;
            width: 500px;
            img{
                height: 18.75rem;
                width: 300px;
                margin: 0px 100px;
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
            }
        }
        .estilo4{
            justify-self: flex-start;
            width: 500px;
            img{
                height: 18.75rem;
                width: 300px;
                margin: 0px 100px;
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
            }
        }
        .estilo5{
            justify-self: center;
            width: 500px;
            img{
                height: 18.75rem;
                width: 300px;
                margin: 0px 100px;
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
            }
        }
        .estilo6{
            justify-self: flex-end;
            width: 500px;
            img{
                height: 18.75rem;
                width: 300px;
                margin: 0px 100px;
                &:hover{
                    box-shadow: 10px 10px .625rem grey;
                }
            }
            h1{
                width: 500px;
                height: 100px;
            }
        }
    }
}